.center{
	text-align: center;
}

.main{
	height: 800px;
	background-image: url("/img/bitly.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.orange{
	background-color: orange;
}

.navbar-custom{
	background-color: transparent;
}

.navbar-custom .navbar-brand{
	color: #ff9933;
}


.white{
	color: white;
}

.main .container-fluid .wrap{
	background-color: #ff9933;
	width: 872px;
	margin: auto;
}

.main .container-fluid .wrap:hover{
	background-color: #ff8c1a;
}


.main .container-fluid #button{
	background-color: #ff9933; 
	;
	border: none;
	height: 50px;
	width: 100px;
}

.main .container-fluid #button:hover{
	background-color: #ff8c1a;
}

.main .container-fluid #text_field{
	color: orange;
	padding-right: 200px;
	height: 50px;
	width: 768px;
}

.main .container-fluid #errors p{
	margin: auto;
	width: 872px;
	background-color: red;
}

table{
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

th, td{	
	border: 1px solid #ffd699;
	padding: 10px;
}

tr:nth-child(even){
	background-color: #ffd699;
}
